In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation='relu'))

# Outer layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 8)                 448
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 863us/step - loss: 313.3139 - accuracy: 0.2713
Epoch 2/100
35/35 [==============================] - 0s 768us/step - loss: 58.2496 - accuracy: 0.6198
Epoch 3/100
35/35 [==============================] - 0s 720us/step - loss: 25.5124 - accuracy: 0.7305
Epoch 4/100
35/35 [==============================] - 0s 815us/step - loss: 16.3238 - accuracy: 0.7650
Epoch 5/100
35/35 [==============================] - 0s 971us/step - loss: 12.8941 - accuracy: 0.7586
Epoch 6/100
35/35 [==============================] - 0s 944us/step - loss: 11.6150 - accuracy: 0.7541
Epoch 7/100
35/35 [==============================] - 0s 887us/step - loss: 10.6772 - accuracy: 0.7468
Epoch 8/100
35/35 [==============================] - 0s 936us/step - loss: 9.7667 - accuracy: 0.7477
Epoch 9/100
35/35 [==============================] - 0s 911us/step - loss: 8.7356 - accuracy: 0.7432
Epoch 10/100
35/35 [==============================] - 0s 874us/step - loss: 7.4249 - accuracy: 0.7441
Epoch 11/100
35/35 [==============================] - 0s 864us/step - loss: 6.6166 - accuracy: 0.7532
Epoch 12/100
35/35 [==============================] - 0s 883us/step - loss: 6.0179 - accuracy: 0.7387
Epoch 13/100
35/35 [==============================] - 0s 861us/step - loss: 5.5564 - accuracy: 0.7604
Epoch 14/100
35/35 [==============================] - 0s 928us/step - loss: 5.0538 - accuracy: 0.7414
Epoch 15/100
35/35 [==============================] - 0s 901us/step - loss: 4.5660 - accuracy: 0.7432
Epoch 16/100
35/35 [==============================] - 0s 956us/step - loss: 4.2095 - accuracy: 0.7559
Epoch 17/100
35/35 [==============================] - 0s 893us/step - loss: 3.8008 - accuracy: 0.7495
Epoch 18/100
35/35 [==============================] - 0s 1ms/step - loss: 3.3961 - accuracy: 0.7468
Epoch 19/100
35/35 [==============================] - 0s 835us/step - loss: 2.9265 - accuracy: 0.7459
Epoch 20/100
35/35 [==============================] - 0s 1000us/step - loss: 2.6341 - accuracy: 0.7505
Epoch 21/100
35/35 [==============================] - 0s 755us/step - loss: 2.2212 - accuracy: 0.7595
Epoch 22/100
35/35 [==============================] - 0s 754us/step - loss: 1.8686 - accuracy: 0.7613
Epoch 23/100
35/35 [==============================] - 0s 773us/step - loss: 1.6217 - accuracy: 0.7895
Epoch 24/100
35/35 [==============================] - 0s 706us/step - loss: 1.4653 - accuracy: 0.7913
Epoch 25/100
35/35 [==============================] - 0s 960us/step - loss: 1.3422 - accuracy: 0.8103
Epoch 26/100
35/35 [==============================] - 0s 858us/step - loss: 1.3572 - accuracy: 0.7868
Epoch 27/100
35/35 [==============================] - 0s 1ms/step - loss: 1.2285 - accuracy: 0.8113
Epoch 28/100
35/35 [==============================] - 0s 817us/step - loss: 1.1816 - accuracy: 0.7931
Epoch 29/100
35/35 [==============================] - 0s 851us/step - loss: 1.1194 - accuracy: 0.8058
Epoch 30/100
35/35 [==============================] - 0s 958us/step - loss: 1.1167 - accuracy: 0.8013
Epoch 31/100
35/35 [==============================] - 0s 822us/step - loss: 1.0262 - accuracy: 0.8085
Epoch 32/100
35/35 [==============================] - 0s 864us/step - loss: 0.8993 - accuracy: 0.8203
Epoch 33/100
35/35 [==============================] - 0s 728us/step - loss: 0.8794 - accuracy: 0.8085
Epoch 34/100
35/35 [==============================] - 0s 868us/step - loss: 0.8051 - accuracy: 0.8167
Epoch 35/100
35/35 [==============================] - 0s 879us/step - loss: 0.8160 - accuracy: 0.8194
Epoch 36/100
35/35 [==============================] - 0s 928us/step - loss: 0.7374 - accuracy: 0.8267
Epoch 37/100
35/35 [==============================] - 0s 891us/step - loss: 0.7364 - accuracy: 0.8294
Epoch 38/100
35/35 [==============================] - 0s 885us/step - loss: 0.7822 - accuracy: 0.8022
Epoch 39/100
35/35 [==============================] - 0s 807us/step - loss: 0.8074 - accuracy: 0.7940
Epoch 40/100
35/35 [==============================] - 0s 753us/step - loss: 0.6788 - accuracy: 0.8294
Epoch 41/100
35/35 [==============================] - 0s 840us/step - loss: 0.6544 - accuracy: 0.8249
Epoch 42/100
35/35 [==============================] - 0s 832us/step - loss: 0.6359 - accuracy: 0.8303
Epoch 43/100
35/35 [==============================] - 0s 708us/step - loss: 0.6554 - accuracy: 0.8230
Epoch 44/100
35/35 [==============================] - 0s 858us/step - loss: 0.6367 - accuracy: 0.8176
Epoch 45/100
35/35 [==============================] - 0s 858us/step - loss: 0.6785 - accuracy: 0.8085
Epoch 46/100
35/35 [==============================] - 0s 887us/step - loss: 0.6034 - accuracy: 0.8249
Epoch 47/100
35/35 [==============================] - 0s 864us/step - loss: 0.5712 - accuracy: 0.8294
Epoch 48/100
35/35 [==============================] - 0s 765us/step - loss: 0.6028 - accuracy: 0.8158
Epoch 49/100
35/35 [==============================] - 0s 885us/step - loss: 0.5487 - accuracy: 0.8348
Epoch 50/100
35/35 [==============================] - 0s 900us/step - loss: 0.5549 - accuracy: 0.8203
Epoch 51/100
35/35 [==============================] - 0s 972us/step - loss: 0.5180 - accuracy: 0.8230
Epoch 52/100
35/35 [==============================] - 0s 817us/step - loss: 0.5253 - accuracy: 0.8258
Epoch 53/100
35/35 [==============================] - 0s 956us/step - loss: 0.5337 - accuracy: 0.8076
Epoch 54/100
35/35 [==============================] - 0s 856us/step - loss: 0.5572 - accuracy: 0.8194
Epoch 55/100
35/35 [==============================] - 0s 775us/step - loss: 0.4970 - accuracy: 0.8330
Epoch 56/100
35/35 [==============================] - 0s 703us/step - loss: 0.4973 - accuracy: 0.8258
Epoch 57/100
35/35 [==============================] - 0s 677us/step - loss: 0.4800 - accuracy: 0.8249
Epoch 58/100
35/35 [==============================] - 0s 688us/step - loss: 0.5345 - accuracy: 0.8067
Epoch 59/100
35/35 [==============================] - 0s 729us/step - loss: 0.4802 - accuracy: 0.8267
Epoch 60/100
35/35 [==============================] - 0s 710us/step - loss: 0.4691 - accuracy: 0.8339
Epoch 61/100
35/35 [==============================] - 0s 657us/step - loss: 0.4560 - accuracy: 0.8276
Epoch 62/100
35/35 [==============================] - 0s 768us/step - loss: 0.5133 - accuracy: 0.8113
Epoch 63/100
35/35 [==============================] - 0s 773us/step - loss: 0.5634 - accuracy: 0.8085
Epoch 64/100
35/35 [==============================] - 0s 677us/step - loss: 0.4683 - accuracy: 0.8267
Epoch 65/100
35/35 [==============================] - 0s 703us/step - loss: 0.5194 - accuracy: 0.8158
Epoch 66/100
35/35 [==============================] - 0s 679us/step - loss: 0.5275 - accuracy: 0.8022
Epoch 67/100
35/35 [==============================] - 0s 852us/step - loss: 0.5030 - accuracy: 0.8149
Epoch 68/100
35/35 [==============================] - 0s 703us/step - loss: 0.5901 - accuracy: 0.8031
Epoch 69/100
35/35 [==============================] - 0s 687us/step - loss: 0.5425 - accuracy: 0.8131
Epoch 70/100
35/35 [==============================] - 0s 705us/step - loss: 0.4285 - accuracy: 0.8348
Epoch 71/100
35/35 [==============================] - 0s 665us/step - loss: 0.4675 - accuracy: 0.8294
Epoch 72/100
35/35 [==============================] - 0s 719us/step - loss: 0.4663 - accuracy: 0.8158
Epoch 73/100
35/35 [==============================] - 0s 754us/step - loss: 0.6610 - accuracy: 0.7740
Epoch 74/100
35/35 [==============================] - 0s 687us/step - loss: 0.4499 - accuracy: 0.8267
Epoch 75/100
35/35 [==============================] - 0s 765us/step - loss: 0.4699 - accuracy: 0.8212
Epoch 76/100
35/35 [==============================] - 0s 741us/step - loss: 0.4457 - accuracy: 0.8285
Epoch 77/100
35/35 [==============================] - 0s 769us/step - loss: 0.4227 - accuracy: 0.8358
Epoch 78/100
35/35 [==============================] - 0s 911us/step - loss: 0.4582 - accuracy: 0.8267
Epoch 79/100
35/35 [==============================] - 0s 802us/step - loss: 0.4054 - accuracy: 0.8339
Epoch 80/100
35/35 [==============================] - 0s 762us/step - loss: 0.4109 - accuracy: 0.8348
Epoch 81/100

35/35 [==============================] - 0s 726us/step - loss: 0.4137 - accuracy: 0.8339
Epoch 82/100
35/35 [==============================] - 0s 676us/step - loss: 0.4138 - accuracy: 0.8430
Epoch 83/100
35/35 [==============================] - 0s 679us/step - loss: 0.4385 - accuracy: 0.8303
Epoch 84/100
35/35 [==============================] - 0s 791us/step - loss: 0.4920 - accuracy: 0.8076
Epoch 85/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6809 - accuracy: 0.7759
Epoch 86/100
35/35 [==============================] - 0s 714us/step - loss: 0.4508 - accuracy: 0.8194
Epoch 87/100
35/35 [==============================] - 0s 871us/step - loss: 0.4110 - accuracy: 0.8367
Epoch 88/100
35/35 [==============================] - 0s 857us/step - loss: 0.4176 - accuracy: 0.8421
Epoch 89/100
35/35 [==============================] - 0s 909us/step - loss: 0.4761 - accuracy: 0.8167
Epoch 90/100
35/35 [==============================] - 0s 860us/step - loss: 0.4223 - accuracy: 0.8330
Epoch 91/100
35/35 [==============================] - 0s 873us/step - loss: 0.4770 - accuracy: 0.8230
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4178 - accuracy: 0.8367
Epoch 93/100
35/35 [==============================] - 0s 892us/step - loss: 0.4516 - accuracy: 0.8439
Epoch 94/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5153 - accuracy: 0.8067
Epoch 95/100
35/35 [==============================] - 0s 942us/step - loss: 0.6103 - accuracy: 0.7913
Epoch 96/100
35/35 [==============================] - 0s 940us/step - loss: 0.4443 - accuracy: 0.8376
Epoch 97/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4084 - accuracy: 0.8403
Epoch 98/100
35/35 [==============================] - 0s 871us/step - loss: 0.4684 - accuracy: 0.8140
Epoch 99/100
35/35 [==============================] - 0s 970us/step - loss: 0.4385 - accuracy: 0.8385
Epoch 100/100
35/35 [==============================] - 0s 836us/step - loss: 0.4566 - accuracy: 0.8249

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3721 - accuracy: 0.8723
Loss: 0.3720957636833191, Accuracy: 0.8722826242446899